<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>

<div th:replace="Fragments/fragments::header"></div>

<div class="container pt-5">
    <div class="row">
        <div class="col-6 offset-3">
            <h5 class="text-primary">New Order </h5>
            <form th:action="@{/saveOrder}" th:modelAttribute="shipping" method="post">
                <div style="display:inline-block; padding-bottom:5px;">Select Shipping Address</div>
                <select id="shipping" name="shipping" style="width:100%; padding-bottom:5px;">
                    <option th:each="shipping : ${shippings}" th:value="${shipping.id}" th:text="${shipping.firstName}+${' '}+${shipping.lastName}+${', '}+${shipping.address}+${', '}+${shipping.postalCode}"></option>
                </select>
                <div style="display:inline-block; padding-bottom:5px;">Select Book(s)</div>
                <select multiple id="book" name="books" style="width:100%;">
                    <option th:each="book : ${books}" th:value="${book.isbn}" th:text="${book.title}"></option>
                </select>
                <input type="hidden" name="date" th:value="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}">
                <button class="btn btn-success" style="width:100%;">Save</button>
            </form>
            <div style="padding-top:5px;">Haven't registered an address yet?</div>
            <a href="AddShipping" class="btn btn-link p-0">Register here!</a>
        </div>
    </div>
</div>
</div>
</body>
</html>