<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Home</title>
    <style>

    </style>
</head>
<body>
<div th:replace="Fragments/fragments::header"></div>

<div class="container pt-5">
    <div class="row">
        <div class="col-3">
        <h5 class="text-primary pb-2">Register New Book </h5>
                <form th:action="@{/saveBook}" modelAttribute="book" method="post">
                    <div class="form-group">
                        <input type="text"   name="isbn" class="form-control" placeholder="ISBN" th:required="required">
                    </div>
                    <div class="form-group">
                        <input type="text"   name="title" class="form-control" placeholder="Title" th:required="required">
                    </div>
                    <div class="form-group">
                        <input type="text"   name="releaseYear" class="form-control" placeholder="Release Year" th:required="required">
                    </div>
                    <div class="form-group">
                        <input type="text"   name="quantity" class="form-control" placeholder="Quantity" th:required="required">
                    </div>
                    <div>Author(s)</div>
                    <select multiple style="width:100%" id="author" name="authors" class="form-group" th:required="required">
                        <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.firstName}+${author.lastName}"></option>
                    </select>
                    <div>Category</div>
                    <select id="category" name="category" class="form-group" style="width:100%" th:required="required">
                        <option th:each="category : ${categories}" th:value="${category.name}" th:text="${category.name}"></option>
                    </select>
                    <button class="btn btn-success" style="width:100%">Save</button>
                </form>
        </div>
<div class="col-9">
<div th:if="${books.empty}" style="width:100%; text-align:center; margin-top:100px">There are currently no books registered.</div>
<div th:if="${!books.empty}">
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Release Year</th>
            <th>Category</th>
            <th>Author</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="book : ${books}">
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.releaseYear}"></td>
            <td th:text="${book.category.name}"></td>
            <td><span th:each="author : ${book.authors}" th:text="${author.firstName}+${' '}+${author.lastName}+${', '}"></span></td>


            <td>
                <a class="btn btn-outline-primary" th:href="@{/EditBook/{isbn}(isbn=${book.isbn})}">Edit</a>
            </td>
            <td>
                <a class="btn btn-outline-danger" th:href="@{/delete/{isbn}(isbn=${book.isbn})}">Delete</a>
            </td>
            <td>
                <a class="btn btn-outline-success" th:href="@{/AddOrder}">Order</a>
            </td>
        </tr>



        </tbody>
    </table>
</div>
</div>
    </div>
</div>


</body>
</html>