<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>

<div th:replace="Fragments/fragments::header"></div>
<form th:action="@{/OrderHistory}" method="post">
    <select id="shipping" name="shipping" >
        <option th:each="shipping : ${shippings}" th:value="${shipping.id}" th:text="${shipping.firstName}+${' '}+${shipping.lastName}+${', '}+${shipping.address}+${', '}+${shipping.postalCode}"></option>
    </select>
    <button class="btn btn-success">View Orders</button>
</form>


<div th:if="${!orders.isEmpty()}">
    <table class="table col-sm-6">
        <tr>
            <th>Date</th>
            <th>Book Title</th>
        </tr>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.date}"></td>
            <td th:each="book : ${order.books}" th:text="${book.title}"></td>
            <td>
                <a class="btn btn-warning" th:href="@{/ShippingInfo/{id}(id=${order.id})}">View Info</a>
            </td>
        </tr>

        </tbody>
    </table>
</div>

<a href="Author">Author!!</a>

</body>
</html>