<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>

<div th:replace="Fragments/fragments::header"></div>
<div class="container pt-5" >
    <div class="row">
        <div class="col-10 offset-1">
            <div th:if="${!shippings.empty}">
                <table class="table table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th>Order ID</th>
                        <th>Date</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Address</th>
                        <th>Postal Code</th>
                    </tr>
                    </thead>
                    <tbody>
                     <td th:text="${order.id}"></td>
                        <td th:text="${order.date}"></td>
                        <td th:text="${order.shipping.firstName}"></td>
                        <td th:text="${order.shipping.lastName}"></td>
                        <td th:text="${order.shipping.address}"></td>
                        <td th:text="${order.shipping.postalCode}"></td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1">
            <a href="/OrderHistory" class="btn btn-primary">Back</a>
        </div>
    </div>
</div>
</body>
</html>